/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #10b981;      
  --primary-hover: #059669;
  --bg-color: #f8fafc;
  --text-dark: #1e293b;
  --text-light: #64748b;
  --white: #ffffff;
  --name:rgb(203, 28, 28);
}